body{
    background-color:rgb(14, 5, 112);
    color: white;
    font-family: "Yatra One", system-ui;
    font-size: 18;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(7, 88, 100);
    color: white;
    font-family: "Yatra One", system-ui;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 50%;
}